@use '../../variables'

.mainBlock
  display: flex
  flex-direction: column
  gap: 60px
  padding-top: 60px
  padding-bottom: 60px

  @media (max-width: variables.$size-m)
    gap: 54px
    padding-top: 54px
    padding-bottom: 54px

  @media (max-width: variables.$size-s)
    gap: 50px
    padding-top: 50px
    padding-bottom: 50px

  .offers
    display: flex
    flex-direction: column
    gap: 40px

    @media (max-width: variables.$size-m)
      gap: 30px

    .title
      font-family: variables.$font-lato-extra-bold
      font-weight: variables.$font-weight-lato-extra-bold

    .list
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      gap: 40px

      li
        &.full
          width: 100%

        &.half
          width: 50%

      @media (max-width: variables.$size-m)
        gap: 30px
