@use '../../variables'

.mainBlock
  display: flex
  flex-direction: column
  gap: 60px
  padding-top: 60px
  padding-bottom: 60px

  @media (max-width: variables.$size-m)
    gap: 54px
    padding-top: 54px
    padding-bottom: 54px

  @media (max-width: variables.$size-s)
    gap: 50px
    padding-top: 50px
    padding-bottom: 50px
