
@use '../../variables'

.header-container
  padding: 24px 0
  background: variables.$secondary-background-color

.header
  display: flex
  align-items: center
  justify-content: space-between

.navbar
  display: flex
  align-items: center
  gap: 40px
  list-style: none
  @media (max-width: variables.$size-m)
    display: none

@mixin gradient-text($gradient)
  background: $gradient
  -webkit-background-clip: text
  background-clip: text
  -webkit-text-fill-color: transparent
  color: variables.$secondary-text-color

.navbar-item
  font-family: variables.$font-lato-bold
  font-weight: variables.$font-weight-lato-bold
  font-size: 18px
  line-height: 22px
  color: variables.$primary-text-color
  text-decoration: none
  cursor: pointer
  transition: all 0.2s ease

  &:hover
    @include gradient-text(linear-gradient(98.25deg, #EBFF00 18.56%, #FF70D9 76.02%))

.navbar-item-busket
  .busket-icon
    display: block
  .busket-gradient-icon
    display: none

  &:hover
    .busket-gradient-icon
      display: block
    .busket-icon
      display: none

// mobile menu
.menu-toggle:checked ~ .navbar-overlay
  display: flex

.navbar-trigger-mobile
  display: none
  cursor: pointer

  @media (max-width: variables.$size-m)
    display: block

.navbar-overlay
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 1)
  z-index: 1
  justify-content: center
  align-items: center

  &-close
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer

  .navbar-mobile
    list-style-type: none
    display: flex
    flex-direction: column

    gap: 30px

    .navbar-item
      font-size: 28px
      line-height: 34px
